.v-container .image-container{
    /* border: 10px solid rgb(0, 0, 0); */
}

.v-container>div{
    flex: 1
}

.v-right{
    gap: .7rem;
}

.accordion{
    margin: 1rem 0rem;
    border: none;
}
.accordion-item{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordion-button{
    background-color: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}

.icon svg{
    fill: blue;
}

.accordion-button > .primaryText{
    font-size: 1.4rem;
}

.accordion-item-expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

@media (max-width: 640px) {
    .v-container{
        flex-direction: column;
    }
}

@media (max-width: 768px){
    .accordion-button .primaryText{
        font-size: 0.8rem;
    }
}